*{
	padding:0;
	margin:0;
}
body{
	background-image:url('../slike/labirint.png');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:fixed;
	height:100%;
	width:100%;
}
#gary {
    position: absolute;
    width: 20px;
    height: 20px;
    /* lahko dodaš transition za smooth efekt, ampak ni nujno */
}
#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 1200px;
    height: 1000px;
    z-index: -1; /* canvas v ozadju, če boš risal labirint */
}
/*img{
	height:20px;
	width:20px;
}*/
.pika-bg {
  position: absolute;
  top: 125px;    /* y */
  left: 615px;  /* x */
  width: 10px;  /* velikost ciljne točke*/
  height: 10px;
  cursor: pointer;
  z-index: 20;
  background: red; /* neviden, a lažje klikljiv */
}